<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name='viewport' content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" />
        <!-- <link rel="icon" href="<%= BASE_URL %>img/favicon.ico"> -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- <link href="<%= BASE_URL %>img/apple-touch-icon-blue.png?1"    rel="apple-touch-icon"> -->
        <!-- <link href="<%= BASE_URL %>img/app-loading.png" rel="apple-touch-startup-image"> -->
        <title>FollowAlong</title>
    </head>
    <body>
        <noscript>
            <strong>We're sorry but FollowAlong doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <script type="module" src="/src/main.js"></script>
    </body>
</html>
